/* Center the content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario {
    width: 300px; 
    text-align: center; 
}

#cambiarFondo {
    margin-top: 20px; 
}


